* {
    border: solid 1px black;
}

.button-area {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.tags-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
    align-items: center;
}
.post-item {
    /* border: solid 2px gray; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin: 0px 20px 20px 20px;
}

.tags {
    /* margin: 5px;
    width:fit-content;
    height: 150px; */
}
.user-profile {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
}
.user-name {
    margin-left: 10px;
}
.like-button {
    display: flex;
}
.title {
    height: max-content;
    text-align: center;
    
}

