* {
    border: solid 2px black;
}
.user-profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user-nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.user-container {
    width: 100%;
    position: relative;
}
.user-info-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.user-point-container {
    position: absolute;
    left: 50px;
    width: fit-content;
}
.user-image-container {
    width: 100%;
}
.report-container {
    margin-left: 800px;
}
