/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    /* background-color: blue; */
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 2000ms;
    
}

.slide {
    display: inline-block;
    /* height: 400px; */
    width: 100%;
    padding: 5rem;
    /* border-radius: 40px; */
}
.productInfo {
    max-width: 30rem;
}
.productPrice {
    font-size: 1.5em;
}
.productIntro {
    width: 100%;
}

/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: black;
}



@media screen and (max-width: 480px) {
    .slide {
        padding: 0;
    }
    .slideshowSlider {
       margin-bottom: 20px;
    }
}
