// each sizes of footer
$sizes: 5rem, 6rem, 7rem;

@each $size in $sizes {
    .textContent-#{$size}{
        font-size: $size;
    }
    
}

.textContent{
    font-size: 1.5em;
    margin-right: 0.25rem;
}